*{
    padding: 0;
    margin: 0;
    font-size: 18px;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
    background-color: aquamarine;
}

.hero {
    height: 100vh;
    padding: 2.5rem;
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero header a {
    text-decoration: none;
}

.hero header a img {
    width: 8rem;
}

.hero header nav ul {
    display: flex;
    align-items: center;
}

.hero header nav li {
    list-style: none;
    margin: 0 1.2rem;
}

.hero header nav ul li:nth-child(4){
    margin-right: 0;
}

.hero header nav ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.hero header nav ul li:nth-child(4) a{
    padding: .7rem 1rem;
    color: hsl(212, 27%, 19%);
    background: hsl(0, 0%, 100%);
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: .3s;
    font-size: .8rem;
}

.hero header nav ul li:nth-child(4) a:hover{
    background: hsl(0, 0%, 100%, 0.37);
    color: hsl(0, 0%, 100%);
}

.hero .header-text{
    text-align: center;
}

.hero .header-text h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    letter-spacing: .5rem;
    font-weight: 900;
    margin: 4rem;
}